
.Block{
    display: flex;
    margin: 0px auto;
    -webkit-box-pack: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
}
.main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mainBlock{
    flex-direction: column;
    display: flex;
    margin: 0px auto;
    -webkit-box-pack: center;
    justify-content: center;
    width: 1000px;
    height: 100vh;
}
.searchBlock{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
}
.listBlockImg{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.imgList{
    width: 700px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
@media(max-width:1122px){
    .Block{
        display: flex;
        margin: 0px auto;
        -webkit-box-pack: center;
        justify-content: center;
        width: 90%;
        height: 100vh;
    }
    .main{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mainBlock{
        flex-direction: column;
        display: flex;
        margin: 0px auto;
        -webkit-box-pack: center;
        justify-content: center;
        width:90%;
        height: 100vh;
    }
    .searchBlock{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px auto;
    }
    .listBlockImg{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .imgList{
        max-width: 350px;
        overflow-clip-margin: content-box;
        overflow: clip;
    }
}
@media(max-width:768px){
    .Block{
        display: flex;
        margin: 0px auto;
        -webkit-box-pack: center;
        justify-content: center;
        width: 90%;
        height: 100vh;
    }
    .main{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mainBlock{
        flex-direction: column;
        display: flex;
        margin: 0px auto;
        -webkit-box-pack: center;
        justify-content: center;
        width:50%;
        height: 100vh;
    }
    .searchBlock{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px auto;
    }
    .listBlockImg{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .imgList{
        max-width: 320px;
        overflow-clip-margin: content-box;
        overflow: clip;
    }
}
@media(max-width:624px){
    .Block{
        width: 100%;
        flex-wrap: wrap;
    }
    .main{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mainBlock{
        flex-direction: column;
        display: flex;
        margin: 0px auto;
        -webkit-box-pack: center;
        justify-content: center;
        width:50%;
        height: 100vh;
    }
    .searchBlock{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px auto;
    }
    .listBlockImg{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .imgList{
        max-width: 320px;
        overflow-clip-margin: content-box;
        overflow: clip;
    }
}


